@use "styles/theme" as *;

.mainContainer {
  padding-inline: var(--padding-inline);
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  flex-basis: 200px;
  padding-inline: 10px;

  background-color: var(--primary-bg-light);
}

.taskContainer {
  flex-grow: 1;

  background-color: var(--primary-bg-dark);
  border: 2px solid blue;
}

.pageName {
  display: flex;
  width: 100%;
  padding-block: 5px;
  cursor: pointer;

  > span {
    margin-inline: auto;
  }

  & + & {
    margin-top: 10px;
  }

  &:hover {
    background-color: var(--primary-bg-light-hover);
  }
}

.activePage {
  background-color: var(--highlighted-bg);
  color: var(--highlighted-text);
}

.addAPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-block: 5px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-bg-light-hover);
  }
}

.plusWrapper {
  display: flex;
  margin-right: 10px;
}
