@use "styles/theme" as *;

.mainContainer {
  padding-inline: var(--padding-inline);
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
}

.taskContainer {
  flex-grow: 1;

  background-color: var(--primary-bg-dark);
}
